<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <p>
          <a href="/about">About</a>
          <a href="https://github.com/pyk">Github</a>
          <a href="https://twitter.com/peeyek">Twitter</a>
          <a href="https://www.linkedin.com/in/bayualdiyansyah">Linkedin</a>
        </p>
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> Bayu Aldi Yansyah. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
